@media only screen and (max-width: 400px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: #252525;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .span-animed {
        font-size: 6rem;
        font-weight: 900;
    }

    .span-animed > span {
        animation: corAnimada 3s ease-in-out infinite;
    }

    @keyframes corAnimada {
    
        0%, 100%{
            color: #fff;
            text-shadow: 0 0 12px #c939d6, 0 0 50px #c939d6, 0 0 100px #c939d6;
        }
        10%, 90%{
            color: #4a354fa6;
            text-shadow: none;
        }
    }
    
    .span-animed > span:nth-child(2) {
        animation-delay: .2s;
    }

    .span-animed > span:nth-child(3) {
        animation-delay: .4s;
    }

    .span-animed > span:nth-child(4) {
        animation-delay: .6s;
    }

    .msg-amor {
        color: white;
        font-size: 1.2em;
        font-weight: 900;
        width: 340px;
        text-align: center;
        margin-top: 25%;
        margin-bottom: 40%;

    }

    @keyframes animateText {
        0%, 20% {
            color: #252525;
        }
    
        21%, 79% {
            color: #0f0;
        }
    
        80%, 100% {
            color: #252525;
        }
    }
    
    .msg-amor span {
        position: relative;
        animation: animateText 1s linear infinite;
    }

    .butao-amor {
        color: 	#DB7093;
        font-weight: 700;
        font-size: 1.5rem;
        width: 70px;
        height: 70px;
        border: 3px solid transparent;
        border-radius: 50%;
        animation: border-animation 2s linear infinite alternate;
    }

    @keyframes border-animation {
        
        0% {
            background-color: #903495;
            box-shadow:  0 0 25px #903495;
            color: #D8BFD8;
        }

        50% {
            background-color: #6f3460;
            box-shadow:  0 0 25px #6f3460;
            color: #DA70D6;
        }

        100% {
            background-color: #4a354f;
            box-shadow:  0 0 25px #4a354f;
            color: #EE82EE;
        }

    }
    
}